:root {
    --comtor-blue: #0e56a6;
    --comtor-orange: #ff5a01;
}

.comtor-login-form-logo {
    width: 75%;
}

.comtor-login-form label {
    font-weight: bold;
}

.comtor-login-form .input-group-prepend span {
    width: 40px !important;
    background-color: var(--comtor-blue);
    color: white;
    border: 0 !important;
    display: block;
    height: 100%;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 4px 0 0 4px;
}

.comtor-login-form .input-group-prepend span i {
    text-align: center;
}

.comtor-navbar-icon {
    font-size: 1.1rem !important;
}

#content > .card {
    padding: 0;
}

.comtor-admin-card .card-header {
    background-color: rgba(0, 0, 0, 0.05) !important;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    padding: 0.5rem 1rem !important;
}

.card-header-title {
    display: inline;
}

.card-header-elements {
    display: inline-block;
    float: right;
    clear: left;
}

.card-header-elements button {
    margin-bottom: 0;
}

#query_form {
    padding: 0 1rem;
}

#query_form #filter {
    width: calc(100% - 57px);
}

#query_form button {
    margin: 0 !important;
    display: inline-block;
}

.card-header-title {
    display: inline;
}

.card-header-elements {
    display: inline-block;
    float: right;
    clear: left;
}

#query_form {
    padding: 0 1rem;
}

#query_form #filter {
    width: calc(100% - 67px);
    margin-right: 10px;
}

#query_form button {
    margin: 0 !important;
}

#tableResult {
    padding: 0 15px;
}

#queryResult table button {
    padding: 4px 8px;
}

/* COLORES COMTOR */
.sidebar .sidebar-wrapper {
    background-color: rgba(14, 86, 166, 0.7);
}

#minimizeSidebar {
    background-color: var(--comtor-blue);
}

footer {
    background-color: var(--comtor-orange) !important;
}

footer p,
footer a {
    color: white !important;
}

footer .copyright {
    float: initial !important;
    font-weight: bold;
}

table th {
    color: #212529 !important;
    text-align: center;
    font-weight: bolder !important;
}

.report-result {
    width: 100%;
    height: 600px;
    overflow: auto;
    border: 1px solid #E2E2E3;
}

.form-check input[type="checkbox"], 
.form-check-radio input[type="radio"] {
    opacity: 1;
    position: absolute;
    visibility: visible;
}

.crud-table tr th:last-child,
.crud-table tr td:last-child {
    width: 1%;
    display: table-cell !important;
    white-space: nowrap;
}

.form-group {
    margin-bottom: 0.5rem;
}

#restoreForm .comtor-title-content img {
    max-width: 300px;
    display: block;
}

#restoreForm .comtor-title-content h2 {
    display: block;
    width: 100%;
}

#finder-title {
    margin: 0;
}

.clear_finder_btn,
.finder_launcher_btn {
    padding: 8px;

}

.multiple-checkboxes {
    padding: 0 !important;
}

.multiple-checkboxes fieldset {
    border: initial;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 30px !important;
    height: 300px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    margin-top: 20px;
}

.multiple-checkboxes fieldset label {
    margin: 0;
    font-size: 0.8rem !important;
}

.multiple-checkboxes fieldset .form-check {
    padding: 0px;
    margin: 2px 0;
}

.multiple-checkboxes legend {
    display: block;
    width: initial;
    padding: 0 10px;
    margin: 0rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: normal;
    font-weight: bolder;
    color: black;
}